html, body, #gMap {
	height: 100%;
	margin: 0px;
	padding: 0px
}
#wrapper {
	width: 375px;
	height: 597px;
	background: #303344;
}

#gMap {
	height: 500px;
}

#gMapOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 375px;
	height: 500px;
	background: #303344;
	z-index: 999;
}

#droppableChest {
	height: 100px;
	width: 375px;
	background: #303344;
}

/* START of removing google banner and other stuff - Yes we know its illegal. */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/* END of google style removal */