h2 {
	text-align: center;
}

#data{
	margin: 0 auto;
	width: 400px;
}

#data > section {
	border: 1px solid #000;
	margin-top: 10px;
	padding: 10px;
<<<<<<< HEAD
=======
	text-align: center;
}

.center{
	margin-top: 10px;
	text-align: center;
>>>>>>> e6e6b70a259239d83a72103cc4883b1e700107f7
}