@font-face {
	font-family: NexaBold;
	src: url("../fonts/nexa/Nexa Bold.otf");
}

@font-face {
	font-family: NexaLight;
	src: url("../fonts/nexa/Nexa Light.otf");
}

html, body {
	margin: 0px;
	padding: 0px;
	background: #303344;
}
#wrapper {
	position: relative;
}
#appNavigator {
	display: table;
	width: 100%;
	background: #2cf0b9;
	height: 53px;
	text-align: center;
}
#logoLeft {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	font-family: NexaBold;
	text-transform: uppercase;
	text-align: right;
}
#logoRight {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	font-family: NexaLight;
	text-transform: uppercase;
	text-align: left;
}
#skipBtn {
	position: absolute;
	top: 12px;
	right: 19px;
	font-family: NexaBold;
	color: white;
	font-size: 20px;

	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

    outline:none;
}
#mainContent {
	text-align: center;
	color: white;
}
.sText {
	font-family: NexaLight;
	font-size: 20px;
}
.mText {
	font-family: NexaLight;
	font-size: 50px;
}
.lText {
	font-family: NexaBold;
	font-size: 50px;
}
#hello {
	padding-top: 80.5px;
}
#youve {
	margin-top: 32px;
}
#justBeen {
	margin-top: 27px;
}
#robbed{
	margin-top: 28.5px;
}
#robbers {
	margin-top: 56.5px;
}
#songReturnText {
	font-family: NexaBold;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 96px;
}